@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.brandFont {
    font-family: 'EB Garamond', serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.myBtn {
    @apply px-6 py-3 rounded-md bg-primary text-white text-sm font-semibold tracking-wide cursor-pointer
}

.navActive {
    @apply text-sm inline-flex items-center gap-1 font-semibold text-primary bg-transparent hover:bg-transparent
}

.navDefault {
    @apply text-sm inline-flex items-center gap-1 font-semibold bg-transparent hover:bg-transparent
}

.inputField {
    @apply w-full px-6 py-2 rounded-md bg-gray-600 bg-opacity-20 focus:outline focus:outline-accent disabled:opacity-70 disabled:cursor-not-allowed placeholder:text-sm placeholder:text-red-600
}

.myBtnSec {
    @apply px-4 py-1 inline-flex items-center border-b border-primary bg-primary text-neutral font-semibold rounded hover:bg-transparent hover:text-primary transition-all duration-500 cursor-pointer disabled:opacity-40 disabled:cursor-not-allowed w-full text-center
}

.dash-active {
    @apply w-full bg-base-100 font-bold text-primary py-3 px-3 rounded-tl-lg rounded-bl-lg
}

.dash-default {
    @apply font-semibold py-3 px-3 text-neutral
}